.card-list{
  display: flex;
  flex-flow: column;
}
.card-list img {
  height: 100%;
  margin-right: 20px;
}
.card-item {
  margin: 20px 10px;
  height: 150px;
  display: flex;
}
.card-list .product-item-info-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc( 100% - 250px);
}
.card-list .product-item-info-block > *{
  width: 25%;
}
.item-total-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count{
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  font-size: 20px;
  padding: 10px 15px;
  display: flex;
  border: 1px solid black;
  height: 20px;
}
.count a{
  text-decoration: none;
}
.count p{
  margin: 0 20px;
}