.productList{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.productIttem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 50px 0;
  width: 35%;
  text-align: center;
}
