.menu {
    display: flex;
    border-bottom: 1px solid;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}
.menu .btn{
    margin: 0 40px;
}
.btn{
    padding: 5px 7px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.wanted-card .btn{
    position: relative;
}
.wanted-card .btn .delete-btn-card {
    position: absolute;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}




